a{
	color: inherit;
}

a:hover{
	text-decoration: none;
	color: inherit;
}

.body{
	height: 100vh;
	background: linear-gradient(0deg, rgba(242,242,242,1) 26%, rgba(255,255,255,1) 100%);
	background-repeat: no-repeat;
}

.box{
	font-family: Nunito;
}

.font-14{
	font-size: 14px;
}

.border-10{
	border-width:10px !important;
}

.msg-box{
	padding: 15px 5px;
	box-shadow: 2px 0px 5px 0px rgba(242,242,242,1);
}

.msg-box-success{
	background-color: #d6f5de;
}

.msg-box-danger{
	background-color: #f7d4d7;
}

.msg-box-info{
	background-color: #d2f4f9;
}

.bg-info-comp{
	background-color: #ff891c;
}

.btn-info-comp{
    color: #fff;
    background-color: #ff891c;
    border-color: #ff891c;
}

.text-info-comp{
	color: #c25d00;
}

.pos-relative{
	position: relative;
}

.pos-absolute{
	position: absolute;
}

.btn-close-top-right{
	top: 50%;
	right: 15px;
	transform: translateY(-50%);
	font-size: 1.5em;
	cursor: pointer;
}

.spinner-wrapper{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	background-color: rgba(0,0,0,0.5);
	z-index: 999;
}

.spinner-content{
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%,-50%);
	display: grid;
	place-items: center;
}
