.calendar-container{
	max-width: 45rem; 
	/*height: 52rem;*/
}

#calendar-grid{
	display: grid;
	padding: 5px;
	grid-template-columns: repeat(7,1fr);
	background-color: #404040;
	grid-gap:1px;
}

.calendar-header{
	display: grid; 
	place-items: center; 
	padding: 1rem;
	position: relative;
}

#calendar-grid,
.calendar-header{
	color: #fff;
}

.c-days{
	height: 56px;
}

.not-current{
	color: #808080;
}

.cal-border{
	position: relative;
	box-shadow:0 0 0 1px #595959;
}

.cal-clickable{
	cursor: pointer;
	transition: background-color 150ms linear
}

.cal-clickable:not(.dt-selected):hover{
	background-color: #4d4d4d;
}

.d-num{
	position: absolute;
	right: 5px;
	font-size: 14px;
}


.dt-note{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: 12px;
	color: #ff9999;
}

.prev,
.next,
.yrprev,
.yrnxt,
.yrsprev,
.yrsnxt{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	font-size: 24px;
	cursor: pointer;
}

.prev,
.yrprev,
.yrsprev{
	left: 30px;
}

.next,
.yrnxt,
.yrsnxt{
	right: 30px;
}

.current{
	box-shadow:0 0 0 1px #66baff;
	z-index: 2;
	color: #66baff;
}

.cal-year{
	max-width: 45rem; 
	background-color: #fff;
	color: #404040;
}

.grid-months{
	display: grid;
	padding: 5px;
	grid-template-columns: repeat(4,1fr);
	grid-gap:1px;
}

.yr-header{
	color: #404040;
}

.cal-month{
	padding: 7%;
	box-shadow:0 0 0 1px #edf0f7;
	cursor: pointer;
	transition: background-color 150ms linear;
}

.cal-month:hover{
	background-color: #edf0f7;
}

#month,
#date,
#year{
	cursor: pointer;
}

.cal-form{
	max-width: 45rem; 
}

#sel-dates{
	display: grid;
	justify-items: center;
	grid-template-columns: repeat(auto-fill,minmax(110px,calc(720px/7)));
	grid-gap: 10px;
}

.font-14{
	font-size: 14px;
}

.dt-selected{
/*	box-shadow:0 0 0 1px #66baff;*/
	z-index: 2;
	color: #005499;
	background-color: #b3ddff;
	z-index: 2;
}
