/* Utitilies Colors */
.bg-navy-blue{
	background-color: #4e73df;
	color: #fff;
}

.bg-navy-blue:hover{
	background-color: #2854d7;
	color: #fff;
}

/**/

/* Extension of sb-admin-2 */
.border-left-announce {
  border-left: 0.25rem solid #df4e4e !important;
}

.text-announce {
  color: #df4e4e !important;
}
/**/
.modal-hidden{
	display: none;
}

.modal-bg1{
	position: fixed;
	inset: 0;
	background-color: rgba(0,0,0,0.7);
	z-index: 999;
}

.modal-content1{
	position: absolute;
	inset: 0;
	width: 20%;
	height: 20%;
	margin: auto;
	color: #fff;
}

.pagination-link a,
.pagination-link strong{
    padding: 0.5rem 0.75rem;
    border: 1px solid;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.pagination-link a:hover{
	background-color: #dee2e6;
}

.pagination-link a{
	color: #007bff;
	background-color: #fff;	
}

.pagination-link strong{
	color: #fff;
	background-color: #007bff;
	font-weight: 400;
}


a{
	color: inherit;
}

a:hover{
	color: inherit;
	text-decoration: none;
}

.table{
	color: inherit;
}


.main{
	font-family: Nunito;
	font-size: 14px;
	overflow-x: auto;
}

.cta-def-btn{
	color: #858796;
}

.icon:hover,
.cta-btn:hover{
	filter: brightness(95%);
}

.cyan-bg-btn{
	background-color: #ff8d2f;
	color: #fff !important;
}

.back-icon{
	position: relative;
}

.back-icon::before{
	content: '\f112';
	font-family: FontAwesome;
	position: absolute;
	left: -20px;
}

.back-icon:hover{
	color: #6b6d7b;
}

.pos-top-right{
	position: absolute;
	top: 15px;
	right: 15px;
	cursor: pointer;
	font-size: 18px;
	text-shadow: 0px 0px 3px rgba(150, 150, 150, 1);
}

.grid{
	display: grid;
	grid-template-columns: repeat(auto-fit,minmax(400px, 1fr));
	grid-gap: 20px;
	justify-content: space-around;
	padding: 0px 20px 0px 20px;
}


@media (max-width: 1006px){
	#work{
		grid-column: 1 / 2;
	}
}


@media (min-width: 1007px) and (max-width: 1449px){
	#work{
		grid-column: 1 / 3;
	}
}


@media (min-width: 1450px){
	#work{
		grid-column: 2 / 4;
	}
}

.box{
	position: relative;
	border-radius: 7px;
	padding: 20px;
	-webkit-box-shadow: 2px 14px 22px -11px rgba(107,109,123,1);
	-moz-box-shadow: 2px 14px 22px -11px rgba(107,109,123,1);
	box-shadow: 2px 14px 22px -11px rgba(107,109,123,1);
}

.box-min-size{
	width: 40%;
}

@media (max-width: 1220px){
	.box-min-size{
		width: 75%;
	}
}

@media (max-width: 578px){
	.box-min-size{
		width: 100%;
	}
}

.box-size-normal{
	width: 350px;
}

.box-size-large{
	width: 730px;
}

.blue-lin-bg{
	background: linear-gradient(45deg, rgba(78,115,223,1) 58%, rgba(104,135,227,1) 79%);
	color: #fff;
}

.yellow-lin-bg{
	background: linear-gradient(45deg, rgba(255,196,68,1) 58%, rgba(255,207,102,1) 79%);
	color: #fff;
	text-shadow: 0px 0px 3px rgba(150, 150, 150, 1);
}

.cyan-lin-bg{
	background: linear-gradient(45deg, rgba(36,194,194,1) 58%, rgba(61,219,219,1) 79%);
	color: #fff;
}

.light-yellow-bg{
	/*background: linear-gradient(75deg, rgba(255,255,204,1) 58%, rgba(255,255,230,1) 79%);*/
	background-color: #ffff66;
}

.list-hover:hover{
	background-color: #e9eefb;
}

.pos-relative{
	position: relative;
	width: 100px;
}

.width-150{
	width: 150px;
}

@media (max-width: 710px){
	.min-sm{
		display: none;
	}
}

.v-align{
	position: absolute;
	display: inline-block;
	right: 12px;
	top: 50%;
	transform: translateY(-50%);
}

.font-size-sm{
	font-size: 12.8px;
}

.font-14{
	font-size: 14px;
}

.borderless-input{
	outline: none;
	background-color: transparent;
	border: 1px solid transparent;
}

.leave-dashboard{
	background-color: #fff;
}

.leave-dashboard-grid{
	display: grid;
	grid-template-columns: repeat(2,1fr);
	grid-gap: 16px;
}

@media (max-width: 1000px){
	.leave-dashboard-grid{
		grid-template-columns: 1fr;
		grid-gap: 16px;
	}
}

.leave-tab-active{
	border-bottom: 4px #4e73df solid;
}

.leave-dash-head{
	background-color: #2653D4; 
	color: #fff;
}

.sched-grid{
	display: grid;
	grid-template-columns: 40px 170px 130px 170px 100px 170px 90px;
	grid-gap: 20px;
}

@media (max-width: 1245px){
	.sched-grid{
		grid-template-columns: 100px 170px 130px 170px;
		grid-gap: 20px;
	}
}

@media (max-width: 885px){
	.sched-grid{
		grid-template-columns: 100px 170px;
		grid-gap: 20px;
	}
}


/* This is for the announcement page */
.announce-page{
	min-height: 35rem;
}

/*.announce-page img{
	width: 100%;
	height: auto;
}*/

.announce-head{
	min-height: 8rem;
	background-color: #f2f2f2;
}

.announce-head-sm{
	min-height: 4rem;
}

.separator{
	display: none;

}

.announce-item.active{
	background-color: #fbfbea !important;
}

/*.list-group-flush1 > .list-group-item1 {
	position: relative;
	display: block;
	padding: 0.75rem 1.25rem;
	background-color: #fff;
	border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}*/
.list-group-item1 {
	position: relative;
	display: block;
	padding: 0.75rem 1.25rem;
	background-color: #fff;
	border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.list-group-flush1 > .list-group-item1:last-child{
	border-bottom: none;
}


.ellipsis{
	width: 70%;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.title-text-color{
	color: #627ccb;
}

.announce-list{
	height: 35rem;
	overflow-y: auto;
}

.option-container{
	display: flex;
	flex-direction: column;
	gap: 1rem;
}


.announce-page ol > li{
	list-style-type: decimal !important;
	list-style-position: inside;
}

.announce-page ul > li{
	list-style-type: square !important;
	list-style-position: inside;
}

@media (max-width: 767px){
	.announce-list-bg{
		background-color: #f2f2f2 !important;
	}

	.announce-list{
		margin-top: 4rem;
	}

	.option-container{
		flex-direction: row;
	}

	.list-group-item1.pt-0{
		padding-top: 1rem !important;
	}
}

@media (max-width: 614px){
	.announce-btn-options{
		flex-direction: column;
		padding: 0 1rem;
	}
}