body{
	height: 100vh;
}

a{
	text-decoration: none;
	color: inherit;
}

a:hover{
	color: #e66f00;
	text-decoration: none;
}

.grid-body{
	position: relative;
	display: grid;
	grid-template-columns: 230px 1fr;
}

.top-nav{
	display: none;
	height: 30px;
}

.top-nav-content{
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #fff;
	z-index: 999;
}

.nav-close{
	position: absolute;
	top: 15px;
	right: 15px;
	font-size: 30px;
	cursor: pointer;
	color: #ff9900;
}

.sidebar{
	height: calc(100vh - 56px);
	background-color: #fff;
	overflow: auto;
}

.main-content{
	height: calc(100vh - 56px);
	background-color: #f8f9fc;
	padding: 20px 40px;
	overflow: auto;
}

.nav-toggle{
	color: #ff9900;
	cursor: pointer;
}

.sidebar-header{
	position: relative;
	opacity: 0.6;
}

.sidebar-gear-icon{
	position: absolute;
	top: 50%;
	right: 15px;
	transform: translateY(-50%);
	font-size: 16px;
}

@media (max-width: 740px){
	.grid-body{
		display: grid;
		grid-template-columns: 1fr;
	}

	.top-nav{
		display: block;
	}

	.sidebar{
		display: none;
	}
}

/*Fontsize*/
.fontsize-14{
	font-size: 14px;
}

.fontsize-18{
	font-size: 18px;
}

.fontsize-40{
	font-size: 40px;
}


/*Position*/
.pos-relative{
	position: relative;
}

.pos-absolute{
	position: absolute;
}

.pos-fixed{
	position: fixed;
}

.pos-left-caret{
	left: -24px;
	top: 50%;
	transform: translateY(-50%);
}

.pos-search{
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
}

.modal-bg{
	display: none;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0,0,0,0.5);
	z-index: 999;
}

.modal-content{
	top: 30%;
	left: 50%;
	transform: translate(-50%,-50%);
}


/*Colors*/
.dark-orange{
	color: #e66f00;
}

.text-light50{
	color: #808080;
}

.bg-light2{
	background-color: #f0f2f4;
}

.bg-warning-gradient{
	background: linear-gradient(135deg, rgba(255,137,28,1) 49%, rgba(255,163,77,1) 79%);
}


/*Padding*/
.pl-30{
	padding-left: 30px;
}
/*********/

.grp-header{
	cursor: pointer;
}

.intro-grid{
	width: 80%;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px,1fr));
	grid-column-gap: 170px;
	grid-row-gap: 80px;
}

.intro-box{
	background-color: #fff;
}

/*width size*/
.w-80pct{
	width: 80%;
}

.w-400px{
	width: 400px;
}

.w-min360px{
	min-width: 360px;
}

/***********/

.search-grid{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px,320px));
	grid-gap: 10px;
}

.list-box{
	height: 500px;
	background-color: #fff;
	overflow-y: auto;
}

.leave-type-grid{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(400px,450px));
}


.hierarchy-grid{
	display: grid;
	grid-template-columns: repeat(2,minmax(358px,499px));
	grid-gap: 50px;
}

@media(max-width: 1054px){
	.hierarchy-grid{
		grid-template-columns: repeat(1,minmax(358px,499px));
	}
}

.borderless{ 
	border: 1px solid transparent!important;
}