body{
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
        background-image: url('bg.png');

    background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;

}

canvas {
  display: block;
  vertical-align: bottom;
}

h1{
    font-size: 50px;
}


#particles-js{
	position: absolute;	
    background-image: url('');
    background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	width: 100%;
  	height: 100%;
}


.login{


}
.main{
	margin-top: 70px;
	max-width: 50%;
	border-radius: 10px;
padding: 10px 40px 25px;
width:450px;

}

.container{
	position: relative;
}

#btn:hover{
	color: white;
	background-color:#007bff; 
}

input[type=text],input[type=password], input[type=email]{
width:99.5%;
padding: 10px;
margin-top: 8px;
border: 1px solid #ccc;
padding-left: 5px;
font-size: 16px;
font-family:raleway;
}